@font-face {
    src: url(../fonts/PressStart2P-Regular.ttf);
    font-family: dos;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: dos;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 20, 44);
    overflow-y: auto;
}
a{
    display:inline;
}
nav{
    display:flex;
    justify-content:flex-end;
    position: relative;
    width:100%;
    background-image: linear-gradient(rgba(72, 90, 146, 0.65), rgba(140, 11, 226, 0.828));
    padding: 5px;
    height:61px;
}


#volume-control {
    appearance: none;
    height: 15px;
    position:relative;
    bottom:3px;
    left:-6%;
    transform: translateY(-25%);
    outline: none;
    background: transparent;
    
}
#volume-control::-ms-track{
    background-color: blue;
    border-color:transparent;
    color:transparent;
    cursor:pointer;
}
#volume-control::-webkit-slider-runnable-track{
    background-image: linear-gradient(rgba(185, 136, 218, 0.863),rgba(83, 91, 167, 0.952));
    box-shadow:1px 1px 1px black;
    background-color: transparent;
    border-radius: 2px;
    height:10px;
    width:150px;
}
#volume-control::-webkit-slider-thumb{
    appearance: none;
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    box-shadow:1px 1px 1px black;
    border-radius: 2px;
    width:12px;
    height:24px;
    margin-top:-7px;
}
#volume-control::-moz-range-thumb{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    border-radius: 2px;
    width:12px;
    height:24px;
    box-shadow:1px 1px 1px black;
    border:none;

}
#volume-control::-moz-range-track{
    box-shadow:1px 1px 1px black;
    background-image: linear-gradient(rgba(185, 136, 218, 0.863),rgba(83, 91, 167, 0.952));
    height: 10px;
    border-radius: 2px;
}

#timer{
    position:relative;
    width:100%;
    text-align: left;
    bottom:42px;
    --buffered-width:0%;
    height:20px;
    
}
#slider_ {
    display:inline-block;
}
#current-time{
    color:whitesmoke;
    position:relative;
    float:left;
    padding:5px;
    font-size:13px;
}
#max_time{
    color:whitesmoke;
    position:relative;
    float:right;
    padding:5px;
    font-size:13px;
}
#seek-slider{
    -webkit-appearance: none;
    display:block;
    outline:none;
    background-color:transparent;
    width:100%;
}

input[type="range"]::-webkit-slider-runnable-track{
    
    background: linear-gradient(rgba(12, 30, 192, 0.952) var(--buffered-width), rgba(185, 136, 218, 0.863) var(--buffered-width));
    cursor: pointer;
    height: 20px;
    border-radius: 3px;
}
#seek-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    box-shadow: 2px 2px 2px black;
    width:12px;
    height:24px;
    border-radius: 2px;
    margin-top: -2px;
}

#seek-slider::-moz-range-thumb{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    box-shadow: 2px 2px 2px black;
    width:12px;
    height:24px;
    border-radius: 2px;
    margin-top: -2px;
}
#seek-slider::-moz-range-track{
    background-image: linear-gradient(rgba(185, 136, 218, 0.863),rgba(83, 91, 167, 0.952));
    cursor: pointer;
    height: 20px;
    border-radius: 3px;
}

#vol {
    margin-left:-10px;
}

#link {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: -4px;
    list-style: none;
}

.o{    
    color:whitesmoke;
    text-shadow: 3px 2px 2px rgba(8, 26, 180, 0.952);
    padding: 4px 6px 4px 6px;
    margin-right: 20px; 
    background-color: #0a0c5a63;
    border-radius: 2px;
}
.o:hover{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
}
#mobile {
    display:none;
    position:absolute;
    top:45px;
    left:0;
    width:100%;
}
#mob_juggernaut {
    display:none;
}

.m {
    display:none;
    color:whitesmoke;
    text-shadow: 3px 2px 2px rgba(8, 26, 180, 0.952);
    padding:12px;
    border-bottom:solid 5px rgb(47, 33, 126);
    
    background-color: rgba(0, 0, 0, 0.328);

    position:relative;
    top:0;
    left:0;
}

#nav_{
    display:none;
    /*rgba(72, 90, 146, 0.65)*/
}
.m:hover{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
}
#home {
    width:450px;
    height:370px;
    box-shadow: 2px 0px 2px blue;
    border-radius:2px;
}
#home_ {
    display:block;
    width:500px;
    height:420px;
    box-shadow: 2px 0px 2px blue;
    border-radius:2px;
}
#controls {
    height: 100%;
    width:100%;
    padding:5px;
    text-align: left;
    box-sizing: border-box;
    background-color: #0a0c5a63;
    box-shadow: 2px 2px 2px blue;
}
#playlist {
    display:inline-block;
    height:400px;
    width:100%;
    border-radius:5px;
    overflow-y: auto;
    overflow-x:hidden;
}

#wrapper{
    position: relative;
    width:30vw;
}

#wel{
    position:relative;
    margin-right:20px;
}
#container {
    position: relative;
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

#sobre{
    text-align: start;
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    width:350px;
    padding:20px;
    box-shadow: 3px 3px 3px mediumblue;
    display:inline-block;
    margin-top:50px;
}
#sobre:hover{
    background-image: linear-gradient(rgb(152, 1, 253),rgba(66, 82, 223, 0.952));
}
#jojo{
    color:whitesmoke;
    font-size: 1em;   
}
#main{
    list-style: inside;
    display:flex;
    flex-flow:row;
    justify-content: center;
}
.container{
    margin-top:40px;
    position: relative;
    display:flex;
    flex-flow:row;
    justify-content: center;
}
#contact{
    text-align: center;
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    padding:20px;
    box-shadow:3px 3px 3px mediumblue;
}
#contact:hover{
    background-image: linear-gradient(rgb(152, 1, 253),rgba(66, 82, 223, 0.952));
}

h1{
    color:whitesmoke;
    font-size: 1.5em;
}
.redi{
    text-align:left;
    color:whitesmoke;
    padding:10px;
    text-shadow: 2px 2px 2px blue;
    
    width:fit-content;
}
.redi:hover{
    color:mediumorchid;
}

@media screen and (max-width:700px){
    nav {
        height:45px;
    }
    footer{
        visibility: hidden;
        
    }
    #contact{
        width:90vw;
    }
    .redi{
        font-size:0.7em;
    }
    #sobre{
        width:90vw;
        margin-top:20px;
    }
    #jojo{
        font-size:0.7em;
    }
    #home {
        display:none;
    }
    #link{
        display:none;
    }
    #mob_juggernaut {
        display:inline-block;
        position:absolute;
        top:0;
        left:0;
        width:42px;
        height:45px;
        padding:2px
        
    }
    #mob_juggernaut:hover {
        background-color:rgb(76, 0, 255);
        
    }
    #nav_{
        display:inline;
        position:absolute;
        right:2%;
        top:50%;
        transform:translateY(-50%);
        width:40px;
        height:44px;
        padding:2px;
        border-radius:25%;
    }
    #controls{
        
        margin-bottom: 10px;
    }

    #home_{
        width:100%;
        height:90%;
        
    }
    #wel{
        position:absolute;
        display:block;
        width:95%;
        top:110%;
        margin-left:2%;
        margin-right:2%;
    }
    #wrapper{
        width:95%;
        margin-left:2%;
        margin-right:2%;
    }
    #playlist{
        position:relative;
        
        top:0;
        left:50%;
        width:100%;
        transform: translateX(-50%);
    }

}
#juggernaut {
    position:absolute;
    left:0;
    top:0;
    padding:4px;
}
#juggernaut:hover{
    background-color:rgb(76, 0, 255);

}

footer {
    position:absolute;
    top:95%;
    width: 100%;
    background-image: linear-gradient(rgba(72, 90, 146, 0.65), rgba(140, 11, 226, 0.828));
    box-sizing: border-box;
    display:flex;
    flex-flow:column;
    align-items: center;
}
#termos {
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color: whitesmoke;
    padding:5px;
}
#termos:hover {
    cursor:pointer;
    color:mediumblue;
}

#main{
    display:flex;
    flex-flow:column;
    align-content: flex-start;
}
#log {
    list-style-position: inside;
    display:flex;
}
.red {
    color: whitesmoke;
    text-shadow: 3px 2px 2px mediumblue;
    font-size: 12px;
    padding-left: 10px;
}
.red:hover {
    color:rgb(166, 1, 195);
}

#yt {
    list-style-image: url(../img/youtube_logox40.png);
}
#tw {
    list-style-image: url(../img/twitch_logox40.png);
}
#spt {
    list-style-image: url(../img/spotify_logox40.png);
}
#tt {
    list-style-image: url(../img/twitter_logox40.png);
}



.card {
    position:relative;
    text-align: left;
    display:block;
    
    background-color: #0a0c5a63;
    width:100%;
    border-bottom:solid  2px rgb(76, 0, 255);
    border-left:solid 2px rgb(76, 0, 255);
    border-radius: 3px;
    
}
.icon {
    
    box-shadow: 2px 2px 2px black;
    width:70px;
    height:70px;
    display:inline-block;
}
.card:hover{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
}
#track:hover{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
}
#track {
    position:relative;
    text-align: left;
    width:100%;
    height:100%;
    
    display:inline-block;
    background-color:rgb(67, 16, 185);
    
    
    border:groove 2px rgb(66, 0, 219);
    border-radius: 3px;
    
}
.text{
    display:inline;
    font-size: 10px;
    position: absolute;
    bottom:40px;
    padding: 2px;
    color:whitesmoke;
    text-shadow: 3px 2px 2px purple;
    
    width: fit-content;

}
.title:hover {
    color:rgb(217, 21, 251);
}
.title{
    display:inline;
    font-size: 10px;
    position: relative;
    left:5px;
    bottom:10px;
    color:whitesmoke;
    text-shadow: 3px 2px 2px purple;
    text-align:left;
    
}

/* scroll style */

#playlist::-webkit-scrollbar {
    background-image: linear-gradient(rgba(185, 136, 218, 0.863),rgba(83, 91, 167, 0.952));
    scrollbar-width:17px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px black;
}
#playlist::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgba(140, 11, 226, 0.863),rgba(8, 26, 180, 0.952));
    width:20px;
    box-shadow: 1px 1px 1px 1px black;
}
